<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miami Travel {{#if title}}{{title}}{{/if}} </title>
    <link rel="stylesheet" href="/js/owl/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/js/owl/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="primary-color-light-bg montserrat">
<div class="container-fluid primary-color-bg">  
    {{>navbar}} 

    {{#if data.slideshow}}
    <div class="owl-slideshow owl-carousel owl-theme">
    {{#each data.slideshow}}
        <div class="item">
            <img class="img-fluid" src="{{this}}" alt="">
        </div>
    {{/each}}      
    </div>
    {{/if}}

</div>
<div class="container-lg white-bg">
 
    <!-- The only odd thing here is this expression -->
    {{{body}}}
    
    <p>This is in the main layout</p>

</div>
<!-- jQuery should always be the first script -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/owl/owl.carousel.min.js"></script>

<script>
$(function(){
    //Slideshow
   $('.owl-slideshow').owlCarousel({
    loop:true,
    margin:0,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
    });
    //packages
    $('.owl-packages').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
    });


});
</script>
</body>
</html>