<h2>Sign up to our newsletter to receive news and specials!</h2>
<form class="form-horizontal" action="/newsletter-signup/process" role="form" method="POST">

<input type="hidden" name="_csrf" value="{{csrf}}">

<div class="form-group">
    <label for="fieldName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
        <input type="text" name="name" class="form-control" id="fieldName">
    </div>
</div>

<div class="form-group">
    <label for="fieldEmail">Email</label>
    <div class="col-sm-4">
        <input type="email" class="form-control" name="email" id="fieldEmail" required>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</div>
</form>