<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miami Travel</title>
</head>
<body>
    <!-- The only odd thing here is this expression -->
    {{{body}}}

<p>This is in the main layout</p>
</body>
</html>