<form action="/" method="GET" enctype="multipart/form-data">
    <input type="hidden" name="hush" val="hidden, but not secret!">

    <div class="mb-3">
        <label class="form-label" for="fieldName">Your name: </label>
        <input class="form-control" type="text" id="fieldName" name="name">
    </div>

    <div class="mb-3">
        <label class="form-label" for="fieldColor">Your favorite color: </label>
        <input class="form-control" type="text" id="fieldColor" name="color">
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>