@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Oswald:wght@700&display=swap');

.montserrat { font-family: 'Montserrat', sans-serif; font-weight: 400; }

.montserrat-bold { font-family: 'Montserrat', sans-serif; font-weight: 600; }

.oswald { font-family: 'Oswald', sans-serif; font-weight: 700;}
body {
    scroll-behavior: smooth;
}

.white-bg {
    background-color: #FFFFFF;
}

.primary-color {
    color: #13073A;
}
.primary-color-light {
   color: #403075
}

.accordion-button:not(.collapsed) {
    color: #FFFFAA;
    background-color: #403075;
  }

.primary-color-bg {
    background-color: #13073A;
}
.primary-color-light-bg {
   background-color: #403075
}
.secondary-color, nav .secondary-color-light:hover {
    color: #AAAA39;
}
.secondary-color-light {
    color: #FFFFAA;
}
.secondary-color-bg {
    background-color: #AAAA39;
}
.secondary-color-light-bg {
    background-color: #FFFFAA;
}

/* Remove owl-nav previous and next buttons*/
.owl-nav {
    display: none;
}
.owl-stage-outer {
    position:relative;
    z-index:10;
}

.owl-dots {
    position:relative;
    z-index:99;
    margin-top:-35px;
}

.section-divider {
    padding: 1rem;
}

.gallery-img img {
    object-fit: cover;
    height: 20rem;
    aspect-ratio:1 / 1; 
}
footer {
    padding: 3rem;
}