<h1>Welcome to Miami</h1>
<img class="img-fluid" src="/img/miami-2.jpg" alt="">

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio vero eligendi vel laudantium nobis sequi recusandae dolores necessitatibus iste quas rem et quis, aliquam ullam possimus eius nam quidem soluta.</p>